Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120

SortIncludes: true
AlignConsecutiveAssignments: true
MaxEmptyLinesToKeep: 1